header {
	background-color: #FAFAFA;
	padding: 20px 30px 0 13px;
}

header h1 {
	margin: 0;
}

header ul li {
	display: inline-block;
}

header a:hover {
	color: #222;
}

header .header .logo,
header .header .search {
	float: left;
}

.logo {
	width: 120px;
	height: 44px;
	margin-top: 2px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.search {
	width: 632px;
	height: 44px;
	border-radius: 2px;
	background-color: #FFF;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-transition: -webkit-box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: -webkit-box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1), -webkit-box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	margin-left: 17px;
	position: relative;
}

.search:hover {
	-webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search__form {
	float: left;
	width: 100%;
	height: 100%;
}

.search__form div {
	height: 100%;
	position: relative;
}

.search__form div a {
	height: 100%;
}

.search__form input {
	border: none;
	width: 470px;
	height: 34px;
	line-height: 34px;
	margin: 6px 21px 0 16px;
	font: 16px arial,sans-serif;
	vertical-align: top;
}

.search__form button {
	cursor: pointer;
	height: 100%;
}

.user-nav {
	float: right;
	margin-top: 6px;
}

.user-nav ul {
	margin: 0;
	padding-left: 0;
	font-size: 0;
}

.user-nav ul li {
	vertical-align: middle;
	margin-left: 21px;
}

.user-nav ul li a {
	display: block;
}

.google-account {
	background-color: #FAFAFA;
}

.search-options {
	font-size: 13px;
	color: #777;
	margin-left: 97px;
	border-bottom: 1px solid #EBEBEB;
}

.search-options ul {
	margin-bottom: 0;
	margin-top: 9px;
}

.search-options ul li {
	padding: 17px  16px 13px  16px;
	position: relative;
	padding-bottom: 13px;
	vertical-align: bottom;
	float: left;
}

.search-options ul li {
	display: block;
	border-bottom: 3px solid transparent;
}

.search-options ul li.active {
	font-weight: bold;
	color: #4285f4;
	border-bottom-color: #4285f4;
}

.search-options__type,
.search-options__settings {
	display: inline-block;
	vertical-align: bottom;
}

.search-options__settings {
	margin-left: 62px;
}

.search-options__saved-search {
	float: right;
}

.search-options__saved-search > ul {
	padding-left: 0;
}

.search-options__saved-search > ul > li {
	padding: 0;
	padding: 17px 0 13px 0;
}

.search-options__saved-search > ul > li:last-of-type {
	padding-right: 5px;
	padding-left: 16px;
	cursor: pointer;
}

.search-options__saved-search > ul > li:last-of-type::after {
	content: ' ';
	border-color: #909090 transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	width: 0;
	height: 0;
	top: 50%;
	left: 100%;
	margin-top: -1px;
	position: absolute;
}

.dropdown-container {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 13px;
	padding: 6px 0;
	right: 0;
	top: 50px;
	z-index: 3;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	min-width: 200px;
}

.dropdown-menu ul {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 13px;
}

.dropdown-menu ul li {
	width: 100%;
	border-bottom: 0;
	padding: 8px 20px 8px 30px;
}

.dropdown-menu ul li:hover {
	background-color: #FAFAFA;
	color: #777;
}

.dropdown-container.open .dropdown-menu {
	display: block;
}

/* mobile phones */
@media (max-width: 810px) {

	header {
		padding: 0;
	}

	header h1 {
		font-size: 1em;
	}

	header .header .logo,
	header .header .search {
		float: none;
	}

	.logo {
		width: 92px;
		height: 36px;
		margin: 0 auto;
		float: none;
		padding: 16px 0;
	}

	.logo a {
		width: 100%;
	}

	.logo a img {
		width: 100%;
		height: auto;
	}

	.search {
		width: 88%;
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}

	.search__form input {
		width: 90%;
		height: auto;
		margin: 6px 0 16px 0;
		padding: 0 6px;
	}

	.icon.hide-mobile {
		display: none;
	}

	.search__form button {
		width: 10%;
		position: absolute;
		top: -8px;
	}

	.menu-icon {
		display: inline-block;
		float: left;
		margin: 20px;
	}

	.search-options {
		margin: 0 auto;
	}

	.search-options__type {
		display: block;
	}

	.search-options ul li {
		padding: 0px  10px 0px  10px;
	}
}
