.icon {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.camera-icon {
	width: 24px;
	height: 24px;
	margin-right: 16px;
	background-image: url("../images/camera-icon.png");
}

.camera-icon:hover {
	background-image: url("../images/camera-icon-hover.png");
}

.mic-icon {
	width: 13px;
	height: 24px;
	margin-right: 18px;
	background-image: url("../images/mic-icon.png");
}

.search-icon {
	width: 24px;
	height: 24px;
	background-image: url("../images/search-icon.png");
 }

.google-apps-icon {
	width: 24px;
	height: 24px;
	background-image: url("../images/apps-icon.png");

}

.google-notification-icon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #717171;
	background-image: url("../images/notification-icon.png");
	background-size: 50%;

}

.google-accout-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #465A63;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	line-height: 32px;
	text-align: center;
}

.menu-icon {
	width: 24px;
	height: 24px;
	background-image: url("../images/menu-icon.png");
}

.visit-icon,
.share-icon,
.save-icon {
	vertical-align: middle;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	margin-top: -2px;
}

.visit-icon {
	background-image: url('../images/earth-icon.png');
}

.share-icon {
	background-image: url('../images/share-icon.png');
}

.save-icon {
	background-image: url('../images/save-icon.png');
}

.close-icon {
	background-image: url("../images/close-icon.png");
}

.previous-icon {
	background-image: url("../images/left-arrow-icon.png");
}

.next-icon {
	background-image: url("../images/right-arrow-icon.png");
}
