.main-content {
	/*min-height: 100%;*/
	/*margin-bottom: -84px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	/*align-content: space-between;*/
}
